@tailwind base;
@tailwind components;
@tailwind utilities;

.Container {
    width: 380px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fefefe;
    border-radius: 1.8rem;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  }

  .Container::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }

  .img{
    width: 100px;
    height: 100px;
  }
  .setting{
    justify-self: flex-end;
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
  }
  .top{
    grid-template-columns: 9fr 1fr;
  }
  

